---
import Layout from '../layouts/Layout.astro';
const MD = import.meta.glob('./*.mdx', {eager: true});
const MDList = Object.values(MD);
---

<Layout>
	<h1>Tinkeren Procesboek</h1>
	<p>welkom op mijn site tinkeren, waarbij ik al mijn proces bespreek van tinkeren.
		Hieronder kan je alle opdrachten vinden
	</p>

	<ul>
		{MDList.sort((a, b) => Number(b.frontmatter?.id) - Number(a.frontmatter?.id))
			.slice(0, 7)
			.map((list) => (
				<li>
					<a href={list.url || '#'}>
						<h2>{list.frontmatter?.title}</h2>
						<p>{list.frontmatter?.description}</p>
					</a>
				</li>
			))}
	</ul>
</Layout>

<style>
	ul {
		list-style: none;
		padding: 1em;
		display: grid;
		gap: 1em;
	}

	li {
		background-color: var(--background-color-container);
		padding: 2em;
		border-radius: 3em;
		transition: var(	--common-hover-animation);
		cursor: pointer;
	}

	li:hover {
		transform: scale(1.2);
		box-shadow: 0 0 3em black;
		background-color: var(--background-color-container-active);
	}

	a {
		color: unset;
		text-decoration: none;
	}
</style>