---
import Layout from "./Layout.astro";
const { Video, VideoTitle, title } = Astro.props.frontmatter
---

<Layout>
  <div class="containter">
  <a href="/">terug</a>
  <h1>{title}</h1>

        
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src={Video} frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title={VideoTitle}>
    </iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>


  <slot/>

  </div>
</Layout>

<style>
  iframe {
    margin: 1em 0;
  }
</style>
